---
import MediaIcons from './MediaIcons.astro';
import type { Media } from '../types/media';
import { strCapitalize } from '../utils';

type Props = {
	media: Media;
	value: string;
	iconMode?: boolean;
};

const { media, value, iconMode = false } = Astro.props;

let url = '';

switch (media) {
	case 'github':
		url = `https://github.com/${value}`;
		break;
	case 'youtube':
		url = `https://youtube.com/@${value}`;
		break;
	case 'linkedin':
		url = `https://linkedin.com/in/${value}`;
		break;
	case 'twitch':
		url = `https://twitch.tv/${value}`;
		break;
}
---

{
	url && (
		<a href={url} target="_blank" class={iconMode ? 'icon' : ''}>
			{iconMode ? <MediaIcons icon={media} /> : strCapitalize(media)}
		</a>
	)
}

<style>
	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff8;
	}
	.icon:hover {
		color: rgba(var(--accent-light));
	}
</style>
